NODE_ENV=development
ORIGIN_URL=http://127.0.0.1:5000/graphql
DOMAIN_URL=127.0.0.1:5000
MONGODB_URI=mongodb+srv://yourUsername:yourPassword@your.mongodb.server.net/yourCollectionName
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=5000