.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 3rem;
  width: 3rem;
  text-align: center;
  cursor: pointer;
}

.navigation__icon {
  position: relative;
  margin-top: 1.5rem;
  width: 1.6rem;
}

.navigation__icon::before {
  width: 1.9rem;
}

.navigation__icon::after {
  width: 1.3rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  right: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.6rem;
}
.navigation__icon::after {
  top: 0.6rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  width: 1.9rem;
}
